//- bootstrap mixins to define building blocks for project pages
//- (c) 2017 andreas@coshape.com

mixin page_header(title, label, description)
	div(class="page-header")
		h1(style='text-align: left;') #{title} <span class="label label-default">#{label}</span>
		<p>#{description}</p>
		block

mixin row
	div(class="row")
		block

mixin col(num)
	div(class="col-md-" + num)
		block

mixin panel(title)
	<div class="panel panel-default">
		if title
			<div class="panel-heading">
				<h3 class="panel-title">#{title}</h3>
			</div>
		<div class="panel-body">
			block
		</div>
	</div>

mixin tile(num, title, image, url)
	+col(num)
		+panel(title)
			a(href=url, target="_blank")
				img(src=image, style="width:100%;")
			block

mixin glyph(id)
	if id
		<span class="#{id}" aria-hidden="true"></span>

mixin button_base(label, type, callback, glyph_id, modal_id)
	if modal_id
		button(class="btn " + type, onclick=callback, data-toggle="modal" data-target="#" + modal_id)
			+glyph(glyph_id)
			| #{label}
			block
	else
		button(class="btn " + type, onclick=callback)
			+glyph(glyph_id)
			| #{label}
			block

mixin button(label, callback, glyph_id, modal_id)
	+button_base(label, "btn-default", callback, glyph_id, modal_id)

mixin button_large(label, callback, glyph_id, modal_id)
	+button_base(label, "btn-default btn-lg", callback, glyph_id, modal_id)

mixin button_primary(label, callback, glyph_id, modal_id)
	+button_base(label, "btn-primary", callback, glyph_id, modal_id)

mixin button_large_primary(label, callback, glyph_id, modal_id)
	+button_base(label, "btn-primary btn-lg", callback, glyph_id, modal_id)

mixin button_bar
	div(class="btn-toolbar")
		block

mixin table(...head_items)
	table(class="table")
		thead
			tr
				each i in head_items
					th=	i
		tbody
			block

mixin table_row(...items)
	tr
		each i in items
			td= i

mixin table_row_hd(head, ...items)
	tr
		th= head
		each i in items
			td= i

mixin video_canvas(url, _width, _height)
	div(class="video-container")
		iframe(width=_width, height=_height, src=url, frameborder="0", allowfullscreen)


mixin modal_panel(modal_id, title)
	<!-- Modal -->
	<div id=#{modal_id} class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">#{title}</h4>
				</div>
				<div class="modal-body">
					block
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>

		</div>
	</div>
